<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Parallel test suite" >
  <test name="Paralle Testing">
    <classes>
      <class name="com.testng.sample1.HelloWorld"/>
      <class name="com.testng.sample1.NewTest">
        <methods>
          <include name="verifyHomepageTitle"/>
          <include name="TestCase1"/>
          <include name="TestCase2"/>
          <include name="TestCase3"/>
        </methods>
      </class> <!-- com.testng.sample1.NewTest -->
    </classes>
  </test> <!-- Command line test -->
</suite> <!-- Command line suite -->